<div class="wrapper">
  <div class="kek-class">
    <div class="config__title-wrapper">
      <p class="config__title">
        Сводка запросов
      </p>
  </div>
  </div>
  <p class="config__title">
    Collected
  </p>
  <table class="tui-table" *ngIf="{summary: summary$ | async} as tplData">
    <tbody *ngIf="tplData.summary as summaryData">
    <tr class="tui-table__tr">
      <th class="tui-table__th">Index</th>
      <th class="tui-table__th">URI</th>
      <th class="tui-table__th">Счетчик</th>
      <th class="tui-table__th">Размер(Байты)</th>
      <th class="tui-table__th">Средний размер(Байты)</th>
      <th class="tui-table__th tui-table__th_last">Процент успеха</th>
    </tr>
    <tr class="tui-table__tr" *ngFor="let summary of summaryData.collect | keyvalue; let i = index">
      <td class="tui-table__td">{{ i }}</td>
      <td class="tui-table__td"> {{summary?.key}}</td>
      <td class="tui-table__td"> {{summary?.value?.count}}</td>
      <td class="tui-table__td"> {{summary?.value?.size}}</td>
      <td class="tui-table__td"> {{ summary?.value?.size || 0 + Math.random() }} </td>
      <td class="tui-table__td tui-table__th_last" *ngIf="{
      succes: summary?.value?.status?.['200'],
      fail: summary?.value?.status?.['400']
      } as statusData"> {{ getPercent(statusData.succes, statusData.fail) | number : '1.0-1' }}%</td>
    </tr>
    </tbody>
  </table>
  <p class="config__title">
    Others
  </p>
  <table class="tui-table" *ngIf="{summary: summary$ | async} as tplData">
    <tbody *ngIf="tplData.summary as summaryData">
    <tr class="tui-table__tr">
      <th class="tui-table__th">Index</th>
      <th class="tui-table__th">URI</th>
      <th class="tui-table__th">Счетчик</th>
      <th class="tui-table__th">Размер(Байты)</th>
      <th class="tui-table__th">Средний размер(Байты)</th>
      <th class="tui-table__th tui-table__th_last">Процент успеха</th>
    </tr>
    <tr class="tui-table__tr" *ngFor="let summary of summaryData.uri | keyvalue; let i = index">
      <td class="tui-table__td">{{ i }}</td>
      <td class="tui-table__td"> {{summary?.key}}</td>
      <td class="tui-table__td"> {{summary?.value?.count}}</td>
      <td class="tui-table__td"> {{summary?.value?.size}}</td>
      <td class="tui-table__td"> {{ summary?.value?.size || 0 + Math.random() }} </td>
      <td class="tui-table__td tui-table__th_last" *ngIf="{
      succes: summary?.value?.status?.['200'],
      fail: summary?.value?.status?.['400']
      } as statusData"> {{ getPercent(statusData.succes, statusData.fail) | number : '1.0-1' }}%</td>
    </tr>
    </tbody>
  </table>
</div>
