<div class="wrapper">
  <tui-tabs>
    <button
      tuiTab
      (click)="onClick('matcher')"
    >
      Matcher
    </button>
    <button
      tuiTab
      (click)="onClick('response')"
    >
      Response
    </button>
  </tui-tabs>
  <ng-container *ngIf="activeTab === 'matcher'; else responseTpl">
    <div class="config__wrapper">
      <div class="kek-class">
        <div class="config__title-wrapper">
          <p class="config__title">
            Request Matcher
          </p>
          <button
            tuiButton
            [appearance]="'primary'"
            type="button"
            [size]="'s'"
            (click)="openPopupRule('add')">Добавить правило
          </button>
        </div>
        <div class="btn__wrapper" *ngIf="isChangedFirstConfig">
          <button
            tuiButton
            [appearance]="'secondary-destructive'"
            type="button"
            [size]="'s'"
            (click)="resetConfig()">Отменить изменения
          </button>
          <button
            tuiButton
            [appearance]="'primary'"
            type="button"
            [size]="'s'"
            (click)="saveConfig()">Сохранить изменения
          </button>
        </div>
      </div>
      <table class="tui-table" *ngIf="{config: config$ | async} as tplData">
        <tbody *ngIf="tplData.config as configData">
        <tr class="tui-table__tr">
          <th class="tui-table__th">Id</th>
          <th class="tui-table__th">Имя</th>
          <th class="tui-table__th">Условие</th>
          <th class="tui-table__th tui-table__th_last">Действия</th>
        </tr>
        <tr class="tui-table__tr" *ngFor="let matcherConfig of configData.matcher | keyvalue; let i = index">
          <td class="tui-table__td">{{ i }}</td>
          <td class="tui-table__td"> {{matcherConfig.key}}</td>
          <td class="tui-table__td">
            <ng-container *ngFor="let condition of matcherConfig.value | keyvalue">
              <ng-container
                *ngTemplateOutlet="conditionTpl; context: {condition: condition, popup: false, matcher: undefined}">
              </ng-container>
            </ng-container>
          </td>
          <td class="tui-table__td">
            <div class="buttons__wrapper">
              <button
                tuiButton
                [appearance]="'primary'"
                type="button"
                [size]="'xs'"
                (click)="openPopupRule('edit', matcherConfig.key, matcherConfig.value)">Редактировать
              </button>
              <button
                tuiButton
                [appearance]="'secondary-destructive'"
                type="button"
                [size]="'xs'"
                (click)="deleteMatcher(matcherConfig.key)">Удалить
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>

<ng-template #responseTpl>
  <div class="config__wrapper">
    <div class="kek-class">
      <div class="config__title-wrapper">
        <p class="config__title">
          Response
        </p>
        <button
          tuiButton
          [appearance]="'primary'"
          type="button"
          [size]="'s'"
          (click)="openResponsePopupRule('add')">Добавить правило
        </button>
      </div>
      <div class="btn__wrapper" *ngIf="isChangedFirstConfig">
        <button
          tuiButton
          [appearance]="'secondary-destructive'"
          type="button"
          [size]="'s'"
          (click)="resetConfig()">Отменить изменения
        </button>
        <button
          tuiButton
          [appearance]="'primary'"
          type="button"
          [size]="'s'"
          (click)="saveConfig()">Сохранить изменения
        </button>
      </div>
    </div>
    <table class="tui-table" *ngIf="{config: config$ | async} as tplData">
      <tbody *ngIf="tplData.config as configData">
      <tr class="tui-table__tr">
        <th class="tui-table__th">Id</th>
        <th class="tui-table__th">Имя</th>
        <th class="tui-table__th">Content Type</th>
        <th class="tui-table__th tui-table__th_last">Body</th>
        <th class="tui-table__th tui-table__th_last">Действия</th>
      </tr>
      <tr class="tui-table__tr" *ngFor="let responseConfig of configData.response | keyvalue; let i = index">
        <td class="tui-table__td">{{ i }}</td>
        <td class="tui-table__td"> {{responseConfig.key}}</td>
        <td class="tui-table__td">
          {{ responseConfig.value.content_type }}
        </td>
        <td class="tui-table__td">
          {{ responseConfig.value.body }}
        </td>
        <td class="tui-table__td">
          <div class="buttons__wrapper">
            <button
              tuiButton
              [appearance]="'primary'"
              type="button"
              [size]="'xs'"
              (click)="openResponsePopupRule('edit', responseConfig.key, responseConfig.value)">Редактировать
            </button>
            <button
              tuiButton
              [appearance]="'secondary-destructive'"
              type="button"
              [size]="'xs'"
              (click)="deleteResponse(responseConfig.key)">Удалить
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</ng-template>

<ng-template
  let-observer
  [(tuiDialog)]="open"
  #dialogResponseTpl
>
  <form
    [formGroup]="editRuleGroup"
  >
    <tui-input
      [formControl]="editRuleGroup.controls.nameControl"
      tuiAutoFocus
    >
      Название
    </tui-input>
    <tui-error
      [style.margin-bottom]="'10px'"
      [formControl]="editRuleGroup.controls.nameControl"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </form>
  <tui-select
    class="tui-space_vertical-4"
    [tuiTextfieldLabelOutside]="true"
    [tuiDropdownDirection]="'bottom'"
    [valueContent]="selectTpl"
    [(ngModel)]="conditionType"
  >
    Выберите тип
    <tui-data-list-wrapper
      *tuiDataList
      [itemContent]="selectTpl"
      [items]="contentTypes"
    ></tui-data-list-wrapper>
  </tui-select>
    Body
    <tui-input [formControl]="editRuleGroup.controls.valueControl">
      Body
    </tui-input>
  <p>
    <button
      tuiButton
      type="submit"
      (click)="addResponse(observer, editRuleGroup.controls.nameControl.value, editRuleGroup.controls.valueControl.value)"
    >
      Сохранить
    </button>
  </p>
</ng-template>

<ng-template
  let-observer
  [(tuiDialog)]="open"
  #dialogTpl
>
  <form
    [formGroup]="editRuleGroup"
  >
    <tui-input
      [formControl]="editRuleGroup.controls.nameControl"
      tuiAutoFocus
    >
      Название
    </tui-input>
    <tui-error
      [style.margin-bottom]="'10px'"
      [formControl]="editRuleGroup.controls.nameControl"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
    <ng-container *ngFor="let condition of matcherKeyValues">
      <div *ngIf="condition">
        <ng-container
          *ngTemplateOutlet="conditionTpl; context: {condition: condition, popup: true, matcher: editRuleGroup.controls.nameControl.value}">
        </ng-container>
      </div>
    </ng-container>
  </form>
  <div class="add-condition">
    <div class="add-condition__type">
      <tui-select
        class="tui-space_vertical-4"
        [tuiTextfieldLabelOutside]="true"
        [tuiDropdownDirection]="'bottom'"
        [valueContent]="selectTpl"
        [(ngModel)]="conditionType"
      >
        Выберите тип
        <tui-data-list-wrapper
          *tuiDataList
          [itemContent]="selectTpl"
          [items]="conditionTypes"
        ></tui-data-list-wrapper>
      </tui-select>
      <div class="type__add" *ngIf="conditionType && getIsRequiredTwoOperators()">
        Искомое имя {{ conditionType }}
        <tui-select
          class="tui-space_vertical-4"
          [tuiTextfieldLabelOutside]="true"
          [tuiDropdownDirection]="'bottom'"
          [valueContent]="selectTpl"
          [(ngModel)]="nameOperator"
        >
          Выберите тип
          <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="selectTpl"
            [items]="getRequiredValueNameOperatorList()"
          ></tui-data-list-wrapper>
        </tui-select>
        <tui-input
          [formControl]="editRuleGroup.controls.nameValueControl"
        >
          Значение
        </tui-input>
      </div>
      <div class="type__add" *ngIf="conditionType">
        Значение {{ conditionType }}
        <tui-select
          class="tui-space_vertical-4"
          [tuiTextfieldLabelOutside]="true"
          [tuiDropdownDirection]="'bottom'"
          [valueContent]="selectTpl"
          [(ngModel)]="operator"
        >
          Выберите тип
          <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="selectTpl"
            [items]="getRequiredValueOperatorList()"
          ></tui-data-list-wrapper>
        </tui-select>
        <tui-select
          *ngIf="conditionType === 'Method'"
          class="tui-space_vertical-4"
          [tuiTextfieldLabelOutside]="true"
          [tuiDropdownDirection]="'bottom'"
          [valueContent]="selectTpl"
          [(ngModel)]="method"
        >
          Выберите тип
          <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="selectTpl"
            [items]="methodsList"
          ></tui-data-list-wrapper>
        </tui-select>
        <tui-input
          *ngIf="conditionType !== 'Method' && (operator !== 'Существует' && operator !== 'Не существует')"
          [formControl]="editRuleGroup.controls.valueControl"
        >
          Значение
        </tui-input>
      </div>
    </div>
  </div>
  <p>
    <button
      tuiButton
      type="submit"
      (click)="addRule(observer, editRuleGroup.controls.nameControl.value, editRuleGroup.controls.valueControl.value, editRuleGroup.controls.nameValueControl.value)"
    >
      Сохранить
    </button>
  </p>
</ng-template>

<ng-template #conditionTpl let-condition="condition" let-popup="popup" let-matcher="matcher">
  <div class="condition">
    <span class="condition__title">{{condition.key}} </span>
    <span *ngIf="condition.value?.name_operator">[name {{condition?.value?.name_operator}}]</span>
    <span>{{condition?.value?.operator}} </span><span> {{condition?.value?.value}}</span>
    <tui-svg class="delete-btn" *ngIf="popup" [src]="'tuiIconX'"
             (click)="deleteRule(condition.key, condition.value, matcher)">
    </tui-svg>
  </div>
</ng-template>

<ng-template #selectTpl let-select>
  <p>{{select}}</p>
</ng-template>
