<div class="sidebar">
  <div class="sidebar__item item sidebar__item--avatar">
    <tui-marker-icon mode="secondary" [size]="'xxs'" [src]="'tuiIconUser'"></tui-marker-icon>
    <p class="item__title">Admin</p>
  </div>
  <div class="sidebar__item item">
    <tui-svg [src]="'tuiIconSettingsLarge'"></tui-svg>
    <p class="item__title">Основные настройки</p>
  </div>
  <div class="sidebar__item item">
    <tui-svg [src]="'tuiIconFileTextLarge'"></tui-svg>
    <p class="item__title">Правила</p>
  </div>
  <div class="sidebar__item item">
    <tui-svg [src]="'tuiIconZoomInLarge'"></tui-svg>
    <p class="item__title">Аудит</p>
  </div>
  <div class="sidebar__item item" [routerLink]="['graphics']">
    <tui-svg [src]="'tuiIconBarChart2Large'"></tui-svg>
    <p class="item__title">Графики</p>
  </div>
  <div class="sidebar__item item item--bottom" (click)="logout()">
    <tui-svg [src]="'tuiIconLogOutLarge'"></tui-svg>
    <p class="item__title">Выйти</p>
  </div>
</div>
